
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:80px;padding-left:20px;padding-right:20px">
    <h2>Politika privatnosti</h2>

    <p>Hello Messenger je dizajniran da omogući maksimalnu privatnost svojim korisnicima. Vaše poruke se obezbeđuju
    najsavremenijim kriptografskim algoritmima. Niko nema pristup vašim porukama, čak ni osoblje Hello Messenger-a nije
        u mogućnosti da čita šifrovane poruke.
    </p>
    <p>
        Napomena: simulacioni režim ne garantuje potpunu bezbednost vaših poruka. On služi samo da demonstrira mogućnosti
        Hello Messenger-a bez upotrebe lične karte Ako želite da bezbedno šifrujete vaše poruke, koristite vašu ličnu kartu.
    </p>
    <p>
        Da bismo vam obezbedili uslugu, moramo da pamtimo neke podatke o vama. Ovaj dokument opisuje koje podatke koristimo,
        kako ih koristimo i koja su vaša prava.
    </p>
    <h3>Šta pamtimo</h3>
    <p>Da bismo vam obezbedili pravilnu upotrebu aplikacije, pravilno šifrovanje poruka i bezbednu prijavu na aplikaciju,
    pamtimo sledeće podatke:</p>
    <ul>
        <li>Ime i Prezime - očitano sa lične karte, prikazuje se ostalim korisnicima sa kojima komunicirate</li>
        <li>Javni ključ sa lične karte - koristi se za šifrovanje poruka koje se šalju vama</li>
        <li>Serijski broj sertifikata sa lične karte - koristi se da identifikuje vaš profil prilikom prijave</li>
        <li>Slika - slika vašeg profila - slika koju ste vi poslali preko stranice za podešavanja</li>
        <li>IP adresa - kako bismo mogli da vam pružimo tehničku podršku, u našoj evidenciji se pamti IP adresa računara
        sa kojeg ste posetili sajt</li>
        <li>Poruke u šifrovanom obliku</li>
    </ul>
    <p>U slučaju da koristite sajt u simulacionom režimu, pamte se fiktivni, automatski generisani podaci.</p>
    <h3>Kako koristimo podatke</h3>
    <p>
        Drugi korisnici Hello Messenger-a mogu da vide vaše ime, prezime i sliku. Korisnici koji su vam prijatelji mogu da 
        vide i vaš javni ključ. Ostali podaci nisu vidljivi trećim stranama.
    </p>
    <p>
        Na zahtev MUPa Srbije i drugih organa bezbednosti Republike Srbije, dužni smo da dostavimo sve podatke koje imamo o vama,
        kao i listu vaših razgovora i poruke u šifrovanom obliku.<br/>
        Javni ključ i serijski broj mogu biti iskorišćeni za identifikaciju i utvrđivanje sa kime ste komunicirali. Sam sadržaj
        poruka ostaje šifrovan i tajan, pošto nemamo način da ih dešifrujemo.
    </p>
    <h3>Uvid u podatke</h3>
    <p>
        U svakom trenutku, možete da zatražite da vam dostavimo podatke koje imamo o vama. Podaci će vam biti dostavljeni u
        čitljivom obliku u roku od 5 radnih dana.
    </p>
    <h3>Uklanjanje podataka</h3>
    <p>
        U svakom trenutku, na stranici za podešavanja možete da zahtevate brisanje vašeg naloga. Prilikom brisanja naloga,
        brišu se svi gore navedeni podaci, kao i sve poruke koje ste poslali.
    </p>
    <h3>Drugi korisnici</h3>
    <p>
        Hello Messenger ne pruža nikakve garancije o ponašanju drugih korisnika. Korisnici kojima pošaljete poruku mogu
        proslediti njihov sadržaj trećim licima bez vašeg ovlašćenja.<br/>
        Hello Messenger i njegovi autori nisu odgovorni za štetu nastalu ovakvim zlonamernim ponašanjem.
    </p>
    <h3>Hakerski napadi</h3>
    <p>
        U slučaju da serveri Hello Messenger-a budu napadnuti od strane hakera i u slučaju da podaci iz baze dođu
        u ruke neovlašćenih lica, svi korisnici Hello Messenger-a će biti obavešteni o napadu i podacima koji su 
        ukradeni u roku od 5 radnih dana.
    </p>
</div>

